<ion-view view-title="Main">
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        <ion-tab title="Log" href="#/main/log">
          <ion-nav-view name="main-log"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Stats" href="#/main/char">
          <ion-nav-view name="main-stats"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Inventory" href="#/main/inventory">
          <ion-nav-view name="main-inventory"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Chat" href="#/main/chat">
          <ion-nav-view name="main-chat"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Nearby" href="#/main/nearby">
          <ion-nav-view name="main-nearby"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

