<ion-view view-title="Stats">
  <ion-content>
    <div class="row">
        <div class="col">Title:</div>
        <div class="col">{{player.title}}</div>
    </div>
    <div class="row">
        <div class="col">Name:</div>
        <div class="col">{{player.name}}</div>
    </div>
    <div class="row">
        <div class="col">HP:</div>
        <div class="col">{{player.currentHp}} / {{player.maxHp}}</div>
    </div>
    <br>
    <div class="row">
        <div class="col">Strength:</div>
        <div class="col">{{player.strength}}</div>
    </div>
    <div class="row">
        <div class="col">Vitality:</div>
        <div class="col">{{player.vitality}}</div>
    </div>
    <div class="row">
        <div class="col">Dexterity:</div>
        <div class="col">{{player.dexterity}}</div>
    </div>
  </ion-content>
</ion-view>
