<ion-view view-title="Chat">
  <ion-content>
      Chattfunktion fan!

	<div class="list">
   <label class="item item-input">
   <textarea style="overflow-y:scroll" id="chatarea" rows="25" ng-readonly="true" ng-model="data.output"></textarea>
   </label>

   <label class="item item-input">
   <input type="text" id="inputfield" placeholder="Say something..." ng-model="data.input">
   </label>
	
   <button ng-click="onEnterButton()" id="enterBtn" class="button button-full">
	Enter
   </button>	
   
   </div>
	
   	
  </ion-content>
</ion-view>
